<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Aqua Path</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" href="../images/boat.svg" type="image/svg+xml">
    </head>
    <body>
        <h2>Aqua Path</h2>
        <div id="app">
            <div id="grid"></div>
            <div id="controls">
                <p class="sent">Coordenadas enviadas (x,y): <span id="coord-sent"></span></p>
                <p class="sent">Trama enviada: <span id="trama-sent"></span></p>
                <p class="received">Coordenadas recibidas (x,y): <span id="coord-received"></span></p>
                <p class="received">Trama recibida: <span id="trama-received"></span></p>
                <p>Diferencia minima entre Coordenadas: <span id="coord-diff"></span></p>
            </div>
        </div>

        <script src="../static/script.js"></script>
    </body>
</html>
